<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5dd32870-bdc6-40cd-981a-f299e93a6439/resourceGroups/justforpi/providers/Microsoft.Web/sites/Pitheassistantweb</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pitheassistantweb-gqgvh0egg7hnhpdz.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>35547553-de3b-40bd-a133-3765d3947c21</ProjectGuid>
    <PublishUrl>https://pitheassistantweb-gqgvh0egg7hnhpdz.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <UserName>$Pitheassistantweb</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>